@theme "~/.config/rofi/style.rasi"


mainbox {
	children: [ "inputbar" ];
	padding:0px;
	margin:0px;
}

listview {
	enabled: false;
}

window {
	width: 500px;
	height:52px;
	padding:0px;
	location:center;
}
inputbar {
	children: [ "entry" ];
	padding:5px;
	margin:0px;
}
